.navabar{
  background-color: rgb(200, 127, 31);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
#fl{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
#fl:hover{
  color: red;
  font-size: xx-large;
}